In [44]:
import pandas as pd
import ntr
from tqdm import tqdm
import seaborn as sns

In [45]:
df1 = pd.read_csv("dataset1.csv")
df2 = pd.read_csv("dataset2.csv")
df3 = pd.read_csv("dataset3.csv")

In [46]:
df3.head()

                                                text label
0                               सबै जना गुलाबमा काडा    nu
1                                  छ भनेर गनगन गर्छन    nu
2                                म आफैलाई गर्व गर्छु     p
3  त्यो काडामा तिमी जस्तो गुलाब जो फुलेको छौचाहे ...     p
4  या गलत तिम्रा बारे नकरात्मक सोच राख्ने मानिसहर...     n

In [47]:
def check_sentiment(row):
  if row["label"] == "p":
    return "1"
  elif row["label"] == "n":
    return "0"
  else:
    return "2"
  
df3["label"] = df3.apply(check_sentiment, axis = 1)

df3.head()

                                                text label
0                               सबै जना गुलाबमा काडा     2
1                                  छ भनेर गनगन गर्छन     2
2                                म आफैलाई गर्व गर्छु     1
3  त्यो काडामा तिमी जस्तो गुलाब जो फुलेको छौचाहे ...     1
4  या गलत तिम्रा बारे नकरात्मक सोच राख्ने मानिसहर...     0

In [48]:
df2.head()

                                                text label
0  असाध्यै राम्रो कार्यक्रम आयोजना गरिएको छ हजुरह...     1
1  राम्रो कार्यक्रम, पहिलो सिजनले समेटेको कार्यक्...     1
2  महानायक राजेश हमाल तपाई साँच्चै धन्यवादको पात्...     1
3  जातको प्रष्न बाट सबै जनालाई सकरात्मक सन्देश मि...     1
4  बहसको सुरुवात भएको छ, अझै जोडदार रुपमा गर्नुपर...     1

In [49]:
df1.head()

                                                text label
0  बजार ले जसरी ट्रेन्ड चेन्ज गर्यो यो हेर्दा तत्...     2
1  1000 अंकले घटेको नेप्से 200 अंकले बढ्नु ठूलो क...     1
2  होइन यो सानिमा बैंक ले bonus घोसणा गरेको २ महि...     2
3  खैँ MBJC प्रति कित्तामा रू,10/-ले बढेर आज रू,1...     2
4                                       राम्रो भयो️️     1

In [50]:
df = pd.concat([df1,df2,df3])
df.shape

(8696, 2)

In [51]:
tqdm.pandas()
df3 = df3.iloc[:3000,:]
df3["text"] = df3.progress_apply(lambda row : ntr.nep_to_rom(row["text"]), axis = 1)

100%|██████████| 700/700 [00:01<00:00, 664.71it/s]

In [53]:
df3.to_csv("romanized_dataset.csv")